= form_with model: @article, local: true do |form|
  %p
    = form.label :title
    %br/
    = form.text_field :title, id: :article_title
  %p
    = form.label :content
    %br/
    = form.text_area :content, id: :article_content
  %p
    = form.submit value: "Create Article"
  %p
    = form.label :categories
    %br/
    = form.select(:categories, Category.all.collect {|category| [category.name, category.id] }, {}, {id: 'categories'})
