%p
  %strong Title:
  = @article.title
%p
  %strong Author:
  - if @article.user
    = @article.user.email
  - else
    = "Anonymous"
%p
  %strong Text:
  = @article.content

%article
- @article.comments.each do |comment|
  %p= "Commented by: #{comment.email}"
  %p= comment.content
= form_with url:  article_comments_path(@article), scope: :comment do |form|
  %p= form.label :email
  = form.text_field :email, id: 'comment_email'
  %p= form.label :content, 'Comment'
  = form.text_area :content, cols: 50, rows: 5, id: 'comment_content'
  %p= form.submit 'Submit comment'

%p
  = link_to 'Edit Article', edit_article_path(@article)
  = link_to 'Delete Article', article_path(@article), method: :delete
