%h1 Welcome
%h2= @edition
= link_to "Sign up", new_user_registration_path
= link_to 'New Article', new_article_path
= link_to "Sign in", new_user_session_path
= link_to "Log out", destroy_user_session_path, method: :delete
= link_to "Pay with Card", new_subscription_path

- if @articles
  %h3 All Articles
  - @articles.each do |article|
    %p= link_to "#{article.title}", article_path(article)
    %p= sanitize(truncate(article.content, length: 150))
